@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sono:wght@200;300;400;500;600;700;800&display=swap');


body {
    background-image: url('background.jpg');
    background-color:#e452e4;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: auto auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Sono', sans-serif;
    color: white;
}
.logo__img {
    width: 300px;
}

/* start */
.wrapper__start, .wrapper__language, .about__wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: 50px auto 50px;
    /* max-width: 300px; */
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
}

.logo__start, .logo__language, .about__logo {
    max-width: 300px;
}

.content__language {
    padding-top: 20px;
}
.en, .ru {
    padding: 10px 0;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s all;
}
.en:hover, .ru:hover {

    color:#ff8bf3;
}
.active__lang {
    color:#c37fff;
    text-decoration: underline;
}

.about__wrapper{
    max-width: 552px;
}
.about__content {
padding-top: 20px;
}
.about__header {
    font-size: 25px;
    padding-bottom: 20px;
}
.about__text {
    font-size: 19px;
    padding-bottom: 20px;
}


.buttons__start {
    display: flex;
    flex-direction: column;
}
.btn__start, .btn__result, .btn__gallery, .btn__about, .result__start, .language__main, .back__language, .about__btn {
    width: 250px;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #ee82ee;
    cursor: pointer;
    transition: 0.5s;
}

.btn__start:hover, .btn__result:hover, .btn__gallery:hover, .btn__about:hover, .result__start:hover, .language__main:hover, .back__language:hover, .about__btn:hover {
    background-color: #e452e4;

}

.start__descr {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}




/* result */
.wrapper__result {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    margin: 50px auto 0;
    max-width: 900px;
    
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.result__container {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px 20px 30px 20px;
    text-align: center;

    background: rgba(0, 0, 0);
    border-radius: 16px;
}

.result__header {
    font-size: 36px;
    margin-bottom: 20px;
}

.result__text {
    font-size: 25px;

}

.result__img {
    margin-top: 20px;
    width: 175px;
}

.backBtn {
    width: 250px;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #ee82ee;
    cursor: pointer;
    transition: 0.5s;
}










.wrapper {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */

    padding: 20px;
    margin: 50px auto 50px;
    max-width: 900px;
    
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    margin: 20px 0 0 0;
    
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.header_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;

    font-family: 'Sono', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.header__elem {
    font-size: 20px;
    font-weight: 900;
}
.active{
    color:rgb(129 14 230);
}


.player__wrapper {
    display: flex;
    margin: 10px 0 0 0;
    padding: 20px 20px;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.cover {

    width: 120px;
    height: 120px;

}
.cover__img {
    width: 100%;
    border-radius: 16px;
}

.player {
    margin: 0 0 0 20px;
    width: 100%;
}

.control {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    

}

.title {
    font-family: 'Sono', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.main__time {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 47px;
}

.song__btn {
    margin: 0 20px 0 0;
    max-width: 30px;
    height: 30px;
    cursor: pointer;
}

.choose__song__btn {
    margin: 0 20px 0 0;
    max-width: 25px;
    height: 25px;
    cursor: pointer;
    pointer-events: none;
}

.progress__container {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    background: rgba(109, 109, 109, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.progress {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 15px;
    height: 7px;
    background:-webkit-linear-gradient(left, #c37fff 0%, #c37fff 0%, transparent 0%, transparent 100%);
    /* background: transparent; */
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
}

/* .progress::-moz-range-track {
    -moz-appearance: none;
    width: 100%;
    border-radius: 15px;
    height: 7px;
    background:-moz-linear-gradient(left, #c37fff 0%, #c37fff 0%, transparent 0%, transparent 100%);
} */
.progress::-moz-range-thumb {
    -moz-appearance: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
}
/* .progress::-moz-range-thumb {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
} */
/* .progress::-webkit-range-thumb {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
}
*/
/* .progress::-webkit-slider-runnable-track{
    background: #c37fff;
} */ 
.progress__line {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: rgb(195, 127, 255);
    border-radius: 5px;
    height: 6px;
}
.range {
    margin: 20px 0 0 0;

    background:-webkit-linear-gradient(left, #c37fff 0%, #c37fff 50%, rgba(109, 109, 109, 0.4) 50%, rgba(109, 109, 109, 0.4) 100%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 180px;
    height: 7px;
    border-radius: 5px;
}

.range::-moz-range-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
    
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
}


.content {
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
}

.variant {
    width: 66%;
    padding: 20px;
    margin: 0 10px 0 0;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.variant__list {
    list-style-type: none;
}

.variant__elem {
    position: relative;
    display: block;
    width: auto;
    padding: 10px 0 10px 20px;
    font-family: 'Sono', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s all;
}
.variant__elem:hover {
    color:rgb(129 14 230);
    font-weight: 600;
}

.variant__elem::before {
    content: '';
    position: absolute;
    background-image: url(nota.svg);
    width: 14px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -1px;

}

.default {
    text-decoration: line-through;
    color: rgb(96, 96, 96);
}
.default:hover {
    color: rgb(96, 96, 96);

}
.default::before {
    content: '';
    position: absolute;
    background-image: url(no.svg);
    width: 14px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -1px;

}

.win {
    color: rgba(0, 189, 76, 1);
}
.win:hover {
    color: rgba(0, 189, 76, 1);
}
.win::before {
    content: '';
    position: absolute;
    background-image: url(yes.svg);
    width: 14px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -1px;

}

.no-choose {
    color: rgb(161 161 161);
}
.no-choose:hover {
    color: rgb(161 161 161);
}
.no-choose::before {
    content: '';
    position: absolute;
    background-image: url(no-choose.svg);
    width: 14px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -1px;

}

.choose {
    
    padding: 20px;
    width: 32%;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.choose__info {
    display: flex;
    align-items:center;
}

.choose__title {
    margin-bottom: 20px;
    font-family: 'Sono', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.choose__img {
    width: 70px;
    height: 70px;
    border-radius: 16px;
}
.choose__song-name{
    font-size: 14px;
    margin: 0 0 0 10px;
}

.choose__player {
    margin: 15px 0 0 0;
}
.choose__control {
    display: flex;
    align-items: center;
}
.choose__progress__container {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    background: rgba(109, 109, 109, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.choose__progress {
    background-color:rgb(195, 127, 255);
    border-radius: 5px;
    height: 6px;
    pointer-events: none;
}



.choose__range {
    margin: 20px 0 0 0;

    background:-webkit-linear-gradient(left, #c37fff 0%, #c37fff 50%, rgba(109, 109, 109, 0.4) 50%, rgba(109, 109, 109, 0.4) 100%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 180px;
    height: 7px;
    border-radius: 5px;
}

.choose__range::-moz-range-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
    
}

.choose__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
}

.choose__about {
    margin: 15px 0 0 0;
    overflow-y: scroll;
    height: 92px;
}
.choose__about::-webkit-scrollbar { width: 0; }
.choose__about  { 
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
}


.next {
    font-size: 20px;
    margin: 20px 0 0 0;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color:rgb(96, 96, 96);
    pointer-events: none;
}
.next-active {
    background-color: violet;
    pointer-events: all;
    cursor: pointer;
}


@media (max-width: 700px){
    .content {
        flex-direction: column;
    }
    .variant {
        width: 100%;
        padding: 20px;
    }
    .choose {
        margin: 10px 0 0 0;
        width: 100%;
    }
}


@media (max-width: 525px){
    .wrapper {
        margin: 20px auto 0;
    }
    .header_list {
        padding: 15px 10px;
        font-family: 'Sono', sans-serif;
        font-size: 16px;
    }
    .player__wrapper {
        margin: 10px 0 0 0;
        padding: 15px 10px;
    }
    .title {
        font-size: 16px;
    }
    .control {
        margin: 10px 0 0 0;
    }
    .range {
        margin: 10px 0 0 0;
    }
    .cover {
        width: 123px;
        height: 89px;
    }

    .variant {
        padding: 13px 14px;
    }

    .variant__elem {
        font-size: 14px;
    }
    .choose {
        padding: 13px 14px;
    }
    .choose__title {
        font-size: 16px;
    }
}


.footer {
    /* margin-top: 30px; */
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: rgba(0, 0, 0, 1);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    
}
.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.github__img {
    width: 60px;
}


.rs__img {
    width: 120px;
}










.gallery__wrapper {
    height: 90%;
    overflow-y: auto;
    box-sizing:border-box;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: 50px auto 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
}
.gallery__wrapper::-webkit-scrollbar { width: 0; }

.song__cover {
    width: 200px;
    height: 200px;
}
.gallery__logo {
    
    width: 300px;
}
.song__wrap {
    display: flex;
    margin: 40px 20px;
}

.song__inf {
    margin: 0 0 0 20px;
}
.song__inf2 {
    display: flex;
}
.play__g {
    width: 30px;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.song__head {
    font-size: 25px;
}

.song__descr {
    margin-top: 15px;
    height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
}
.song__descr::-webkit-scrollbar { width: 0; }


.control__g {
    display: flex;
}
.input__g {
    -webkit-appearance: none;
    margin-left: 20px;
    border-radius: 15px;
    height: 7px;
    width: 100%;
    background:-webkit-linear-gradient(left, #c37fff 0%, #c37fff 0%, #373538 0%, #373538 100%);
}
.input__g::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
}
.input__g::-moz-range-track {
    -moz-appearance: none;
    width: 100%;
    border-radius: 15px;
    height: 7px;
    background:-moz-linear-gradient(left, #c37fff 0%, #c37fff 0%, transparent 0%, transparent 100%);
}

.input__g::-moz-range-thumb {
    -moz-appearance: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #c37fff;
    cursor: pointer;
}


@media (max-width: 450px){
    .logo__img {
        width: 211px;
    }
    .header__elem {
        font-size: 15px;
        font-weight: 500;
    }
    .result__header {
        font-size: 19px;
        margin-bottom: 15px;
    }
    .result__text {
        font-size: 15px;
    }
    .result__img {
        margin-top: 20px;
        width: 64px;
    }
    .wrapper__start, .wrapper__language, .about__wrapper {
        position: absolute;
        top: 10%;
        transform: translate(-50%, 0%);
    }
}

@media (max-width: 375px){
    .logo__start, .logo__language, .about__logo {
        max-width: 250px;
    }
    .btn__start, .btn__result, .btn__gallery, .btn__about, .result__start, .language__main, .back__language, .about__btn, .backBtn {
        width: 200px;
        font-size: 16px;
    }
    .wrapper__start, .wrapper__language, .about__wrapper {

        margin: 0px auto 0;

    }
    .github__img {
        width: 40px;
    }
    .rs__img {
        width: 100px;
    }
    .logo__img {
        width: 170px;
    }
}

@media (max-width: 1440px) {
    .song__head {
        font-size: 16px;
    }
    .song__text {
        font-size: 14px;
    }
    .song__cover {
        width: 158px;
        height: 158px;
    }
}

@media (max-width: 1024px) {
    .song__descr {
        height: 85px;
    }
}
@media (max-width: 800px) {
    .song__descr {
        height: 85px;
    }
    .song__wrap {
        flex-direction: column;
    }
    .song__cover {
        margin: 0 auto;
    }
    .song__inf {
        margin: 20px 0;
    }
}

.gallery__line {
    padding: 20px 0 0 0;
    width: 50px;
    cursor: pointer;
}